<head>
  <link rel="stylesheet" href="../Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../Content/css/styles.css" type="text/css">
</head>
<body>
  <h1 class="page-header">@Model.GetFirstName() @Model.GetLastName()</h1>
  <h3>Call for appointments: @Model.GetPhoneNumber()</h3>
  <h2 id="current-clients-header">Current Clients</h2>
  @foreach (var client in Model.GetClients())
  {
    <ul>
      <li id="client-name">@client.GetFirstName() @client.GetLastName()</li>
      <li>@client.GetPhoneNumber()</li>
      <li>
        <form class="form-group" action="/@Model.GetId()/@Model.GetFirstName()_@Model.GetLastName()/client_list/client_deleted" method="post">
          <input type="hidden" name="client-id" value="@client.GetId()">
          <button type="submit" class="btn btn-warning">Delete Client</button>
        </form>
      </li>
    </ul>
  }
  <h2 id="add-client-header">Add a New Client</h2>
  <form class="form-group" action="/@Model.GetId()/@Model.GetFirstName()_@Model.GetLastName()/client_list/client_added" method="post">
    <div class="row">
<!-- Names Start -->
      <div class="col-xs-6">
        <p>First Name<input type="text" name="client-first-name" class="form-control"></p>
      </div>
      <div class="col-xs-6">
        <p>Last Name<input type="text" name="client-last-name" class="form-control"></p>
      </div>
    </div>
    <div class="row">
<!-- Other Info Start -->
      <div class="col-xs-6">
        <p>Phone Number<input type="text" name="client-phone-number" class="form-control"></p>
      </div>
      <div class="col-xs-6">
        <p>Email Address<input type="text" name="client-email" class="form-control"></p>
      </div>
    </div>
    <p>Stylist: @Model.GetFirstName() @Model.GetLastName()<input type="hidden" name="stylist-id" value="@Model.GetId()"></p>
    <button type="submit" class="btn btn-success">Add Client</button>
  </form>
  <h2><a href="/">Home</a></h2>
<!-- Delete Stylist Start -->
  <form class="form-group" action="/@Model.GetId()/@Model.GetFirstName()_@Model.GetLastName()/stylist_deleted" method="post">
    <input type="hidden" name="stylist-id" value="@Model.GetId()">
    <button type="submit" class="btn btn-danger" id="delete-one-stylist">Delete @Model.GetFirstName() @Model.GetLastName()</button>
  </form>
</body>
