<head>
  <link rel="stylesheet" href="Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="Content/css/styles.css" type="text/css">
</head>
<body>
  <h1 class="page-header">@Model.GetName()</h1>
  <h3>Call for appointments: @Model.GetPhoneNumber()</h3>
  <h2>Current Clients</h2>
  @foreach (var client in Model.GetClients())
  {
    <ul>
      <h3>@client.GetName()</h3>
      <li>@client.GetPhoneNumber()</li>
      <form class="form-group" action="/@Model.GetId()/@Model.GetName()/client_list/client_deleted" method="post">
        <input type="hidden" name="client-id" value="@client.GetId()">
        <button type="submit" class="btn btn-warning">Delete Client</button>
      </form>
    </ul>
  }
  <h2 id="add-stylist-header">Add a New Client</h2>
  <form class="form-group" action="/@Model.GetId()/@Model.GetName()/client_list/client_added" method="post">
    <p>Name: <input type="text" name="client-name" class="form-control"></p>
    <p>Phone Number: <input type="text" name="client-phone-number" class="form-control"></p>
    <p> Stylist: @Model.GetName() <input type="hidden" name="stylist-id" value="@Model.GetId()"></p>
    <button type="submit" class="btn btn-success">Add Client</button>
  </form>
  <p><a href="/">Home</a></p>
  <form class="form-group" action="/@Model.GetId()/@Model.GetName()/stylist_deleted" method="post">
    <input type="hidden" name="stylist-id" value="@Model.GetId()">
    <button type="submit" class="btn btn-danger">Delete Stylist</button>
  </form>
</body>
